<!--导航部分 content-header-->
<section class="content-header">
    <sn-breadcrumb datalist="crumbIconData"></sn-breadcrumb>
    <h4 class="text-primary"><strong>实例列表</strong></h4>
    <hr style="margin:0;border-color:#3c8dbc"/>
</section>
<!--内容部分 content-->
<section class="content">
    <!--<div class="box box-primary">-->
    <div>
        <button class="btn btn-default" ng-click="newInstance()">新建实例</button>
        <button class="btn btn-default" ng-click="delInstance()">删除实例</button>
        <button class="btn btn-default pull-right">搜索</button>
        <div class="pull-right">
            <input type="text" class="form-control" ng-model="filter.$" placeholder="根据关键字过滤">
        </div>
    </div>
    <!--下部分表格区-->
    <form name="applyForm" class="form-inline" novalidate>
        <table class='table-border-mine'>
            <tr>
                <th></th>
                <th>系统名称</th>
                <th>实例名称</th>
                <th>类型</th>
                <th>数据库版本</th>
                <th>环境</th>
                <th>运行状态</th>
                <th>实例创建日期</th>
            </tr>
            <tr ng-repeat="exData in systemExDatas |filter:filter|paging:page:pageSize" ng-class="{info:$even}">
                <td><input type="checkbox" name="toggle" id="" ng-click="setToggleEx(exData)"></td>
                <td>{{exData.a}}</td>
                <td><a ng-href="#/instance-detail/{{exData.b}}">{{exData.b}}</a></td>
                <td>{{exData.c}}</td>
                <td>{{exData.d}}</td>
                <td>{{exData.e}}</td>
                <td>{{exData.f}}</td>
                <td>{{exData.g}}</td>
            </tr>
        </table>
        <!--分页区-->
        <div style="text-align:center;">
            <sn-pager page="page" page-size="pageSize" total="(systemExDatas |filter:filter).length" paging-action=""></sn-pager>
        </div>
    </form>
    <!--</div>-->
</section>