<form class="form-inline" novalidate>
    <div class="paramsall-row">
        <div class="form-group">
            <input type="text" class="form-control" id="exampleInputName2" placeholder="请输入参数名" ng-model="paramName">
        </div>
        <button class="btn btn-default" ng-click="search(paramName)">搜索</button>
    </div>
    <div class="paramsall-step">
        <div class="paramsall-row">
            <table class='table-border-mine'>
                <tr>
                    <th>数据库版本</th>
                    <th>参数类型</th>
                    <th>参数名</th>
                    <th>Dynamic</th>
                </tr>
                <tr ng-repeat="d in data" ng-class="{info:$even}">
                    <td>{{d.mysqlVersion}}</td>
                    <td>{{d.type || '无'}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.applyImmediately}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="paramsall-step">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">第一步：修改参数值</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="EmployeeId" class="control-label">修改参数值：</label>
                        <input type="text" class="form-control" id="EmployeeId" placeholder="" ng-required="true" ng-model="paramValue">
                    </div>
                    <button class="btn btn-default" ng-click="search(paramValue)">确认</button>
                </form>
            </div>
        </div>
    </div>

    <div class="paramsall-step">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">第二步：批量机器查询</h3>
            </div>
            <div class="panel-body">
                <p>您目前正在对autocommit参数进行批量机器修改，请选择：</p>
                <form class="form-inline">
                    <div class="form-group">
                        <select select2 ng-model="sysName" ng-options="d as d.name for d in status" type="text" class="form-control"
                            ng-change="changeSystem()" name="system">
                    <option value="">请选择系统名称</option>
                </select>
                        <select select2 ng-model="sysEnv" ng-options="d as d.name for d in type" type="text" class="form-control"
                            ng-change="changeSystem()" name="system">
                    <option value="">请选择环境类型</option>
                </select>
                    </div>
                    <button class="btn btn-default" ng-click="searchhost()">搜索机器</button>
                </form>
            </div>
        </div>
    </div>

    <div class="paramsall-step">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">第三步：批量修改</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline">
                    <button class="btn btn-default" ng-click="psedit()" ng-show="buttonView==='edit'">确认修改</button>
                    <button class="btn btn-default" ng-click="pslogbox()" ng-show="buttonView==='log'">修改日志</button>
                </form>
            </div>
        </div>
    </div>
    <div class="paramsall-step">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">第四步：失败机器列表</h3>
            </div>
            <div class="panel-body">
                <p>以下机器参数修改失败，请查看：</p>
                <table class='table-border-mine'>
                    <tr>
                        <th>系统名称</th>
                        <th>所在环境</th>
                        <th>管理员</th>
                        <th>主IP</th>
                        <th>从IP</th>
                        <th>从IP</th>
                    </tr>
                    <tr ng-repeat="d in data" ng-class="{info:$even}">
                        <td>{{d.mysqlVersion}}</td>
                        <td>{{d.type || '无'}}</td>
                        <td>{{d.name}}</td>
                        <td>{{d.applyImmediately}}</td>
                        <td>{{d.applyImmediately}}</td>
                        <td>{{d.applyImmediately}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>