<div class="modal fade in" ng-controller="logDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">日志</h4>
      </div>
      <div class="modal-body">
        <section style="height:400px;overflow:auto">
<div ng-repeat="d in msg">
  <span style="font-size: 20px;">{{d.startLog}}</span><br/>
<ul ng-repeat="dd in d.detailLogs track by $index" style="padding-left: 30px;margin: 8px;">
<li>{{dd}}</li>
</ul>
<span style="font-size: 20px;">{{d.finishLog}}</span><br/>
<span style="font-size: 20px;"> </span><br/>
</div>
</section>
<!--<pre>
          这些数据是从modal页面中继承来的：
          $scope.data: {{data}}
        </pre>-->
</div>
<div class="modal-footer">
  <div class="text-right">
    <button class="btn btn-primary" ng-click="commit()"> 确 定</button>
  </div>
</div>
</div>
</div>
</div>