<!--导航部分 content-header-->
<section class="content-header">
    <sn-breadcrumb datalist="crumbIconData"></sn-breadcrumb>
    <h4 class="text-primary"><strong>我的服务</strong></h4>
    <hr style="margin:0;border-color:#3c8dbc"/>
</section>

<!--<section class="content-header">
    <h4 class="text-primary"><strong>我的服务</strong></h4>
</section>-->
<!--内容部分 content-->
<section class="content">
    <form name="applyForm" class="form-inline" novalidate>
        <div class="form-group">
            <select class="form-control">
                <option>请选择服务状态</option>
                <option>可用</option>
                <option>创建中</option>
                <option>已销毁</option>
                <option>已驳回</option>
                <option>审核通过</option>
                <option>安装中</option>
            </select>
            <select class="form-control">
                <option>请选择环境类型</option>
                <option>DEV</option>
                <option>SIT</option>
                <option>PRE</option>
                <option>PRD</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="filter.$" placeholder="请输入系统名称">
        </div>
        <div class="form-group">
            <button class="btn btn-default pull-right">搜索</button>
        </div>
        <table class='table-border-mine'>
            <tr>
                <th>服务类型</th>
                <th>系统名称</th>
                <th>所在环境</th>
                <th>服务申请人</th>
                <th>服务申请时间</th>
                <th>服务状态</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="exData in systemExDatas |filter:filter|paging:page:pageSize" ng-class="{info:$even}">
                <td>{{exData.g}}</td>
                <td>{{exData.a}}</td>
                <td>{{exData.b}}</td>
                <td>{{exData.c}}</td>
                <td>{{exData.d}}</td>
                <td>{{exData.e}}</td>
                <td>
                    <a ng-click="retryDialog()" href="" style="margin-right: 10px;">重试</a>
                    <a ng-click="logDialog()" href="">日志</a>
                </td>
            </tr>
        </table>
        <!--分页区-->
        <div style="text-align:center;">
            <sn-pager page="page" page-size="pageSize" total="(systemExDatas |filter:filter).length" paging-action=""></sn-pager>
        </div>
    </form>
</section>