<section class="content-header">
    <h2 class="text-primary"><strong>SNDS服务申请信息</strong></h2>
</section>
<section class="content">
    <form name="applyForm" class="form-inline" novalidate>
        <table class='table-border-mine'>
            <tr>
                <td>所属系统</td>
                <td>{{ajaxData.system}}</td>
            </tr>
            <tr>
                <td>所属环境</td>
                <td>{{ajaxData.env}}</td>
            </tr>
            <tr>
                <td>网络区</td>
                <td>内网</td>
            </tr>
            <tr>
                <td>负责人</td>
                <td>{{ajaxData.proposer+ajaxData.proposerCode}}</td>
            </tr>
            <tr>
                <td>数据库类型</td>
                <td>Percona Server 5.6.29-76.2</td>
            </tr>
            <tr>
                <td>数据库名称</td>
                <td>{{ajaxData.dbName}}</td>
            </tr>
            <tr>
                <td>部署方式</td>
                <td>{{ajaxData.haType}}</td>
            </tr>
            <tr>
                <td>服务器配置</td>
                <td>{{ajaxData.cpuCores+ajaxData.memory}}</td>
            </tr>
            <tr>
                <td>容量</td>
                <td>{{ajaxData.diskSize}}</td>
            </tr>
            <tr>
                <td>高可用套数</td>
                <td>{{ajaxData.quantity}}</td>
            </tr>
        </table>
    </form>
</section>