<section class="content-header">
    <h2 class="text-primary"><strong>SNDS服务申请信息</strong></h2>
</section>
<section class="content">
    <form name="applyForm" class="form-inline" novalidate>
        <table class='table-border-mine'>
            <tr>
                <td>所属系统</td>
                <td>苏宁数据库系统（snds）</td>
            </tr>
            <tr>
                <td>所属环境</td>
                <td>snds_SIT</td>
            </tr>
            <tr>
                <td>网络区</td>
                <td>内网</td>
            </tr>
            <tr>
                <td>负责人</td>
                <td>王小欢（15040639）</td>
            </tr>
            <tr>
                <td>数据库类型</td>
                <td>Percona Server 5.6.29-76.2</td>
            </tr>
            <tr>
                <td>数据库名称</td>
                <td>sndssitdb</td>
            </tr>
            <tr>
                <td>部署方式</td>
                <td>1主2从</td>
            </tr>
            <tr>
                <td>服务器配置</td>
                <td>8C16G</td>
            </tr>
            <tr>
                <td>容量</td>
                <td>300G</td>
            </tr>
            <tr>
                <td>高可用套数</td>
                <td>1</td>
            </tr>
        </table>
    </form>
</section>