<ul ng-class="options.ulClass" ng-hide="hidePager">
    <li ng-if="prev" ng-class="prev.liClass">
        <a href="javascript: void(0)"
            ng-bind="prev.text"
            ng-click="selectPage(prev.value)"
            ng-class="prev.aClass"></a>
    </li>
    <li ng-repeat="item in list" ng-class="item.liClass" >
        <a href="javascript:void(0)"
            ng-bind="item.text"
            ng-click="selectPage(item.value)"
            ng-class="item.aClass"></a>
    </li>
    <li ng-if="next" ng-class="next.liClass">
        <a href="javascript: void(0)"
            ng-bind="next.text"
            ng-click="selectPage(next.value)"
            ng-class="next.aClass"></a>
    </li>
</ul>
<div ng-class="options.infoClass" ng-hide="hidePager">
    <span ng-bind="textTotalPages"></span>
    <form ng-submit="goToPage()" ng-hide="hideGoToPage">
        <span ng-bind="textGoToPageLeft"></span>
        <input type="text" ng-model="targetPage" class="form-control">
        <span ng-bind="textGoToPageRight"></span>
        <button ng-class="options.btnClass" ng-bind="options.textGoToPageBtn"></button>
    </form>
</div>

