<form class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputName2" placeholder="请输入机器IP" ng-model="ip">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputName2" placeholder="请输入参数名" ng-model="param">
    </div>
    <button class="btn btn-default" ng-click="search()">搜索</button>
    <strong style="color: red;">{{errorTxt}}</strong>
    <table class='table-border-mine'>
        <tr>
            <th>数据库版本</th>
            <th>参数类型</th>
            <th>参数名</th>
            <th>Dynamic</th>
            <th>参数值</th>
            <th>日志查询</th>
        </tr>
        <tr ng-repeat="d in data" ng-class="{info:$even}">
            <td>{{d.mysqlVersion}}</td>
            <td>{{d.type || '无'}}</td>
            <td>{{d.name}}</td>
            <td>{{d.applyImmediately}}</td>
            <td>
                <span ng-show="!d.isEdit">{{d.value}}</span>
                <input ng-show="d.isEdit" type="text" class="form-control" placeholder="" ng-model="d.value_edit">
                <button ng-show="!d.isEdit" class="btn btn-default" ng-click="editParam(d)" ng-disabled="d.type==='固定参数'">修改</button>
                <button ng-show="d.isEdit" class="btn btn-default" ng-click="saveParam(d)" ng-disabled="d.type==='固定参数'">保存</button>
            </td>
            <td><button class="btn btn-default" ng-click="log()">日志</button></td>
        </tr>
    </table>
</form>