<div class="modal fade in" ng-controller="searchhost">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">目前搜索到177台机器可修改：</h4>
      </div>
      <div class="modal-body">
        <section>
          <form class="form-horizontal">
            <table class='table-border-mine'>
                <tr>
                    <th>系统名称</th>
                    <th>所在环境</th>
                    <th>管理员</th>
                    <th>主IP</th>
                    <th>从IP</th>
                    <th>从IP</th>
                </tr>
                <tr ng-repeat="d in data" ng-class="{info:$even}">
                    <td>{{d.systemName}}</td>
                    <td>{{d.env}}</td>
                    <td>{{d.manager}}</td>
                    <td>{{d.ip}}</td>
                    <td>{{d.ip}}</td>
                    <td>{{d.ip}}</td>
                </tr>
            </table>
          </form>
        </section>
      </div>
      <div class="modal-footer">
        <div class="text-right">
          <button class="btn btn-primary" ng-click="commit()"> 修 改</button>
          <button class="btn btn-primary reverse" ng-click="close()"> 取 消</button>
        </div>
      </div>
    </div>
  </div>
</div>