<style>
    #instanceDetail table {
        margin-bottom: 20px
    }
    
    #instanceDetail table tr th {
        font-size: 16px
    }
    
    #instanceDetail table tr td:nth-child(odd) {
        background-color: #D9EDF7;
    }
    
    #instanceDetail table td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>
<!--导航部分 content-header-->
<section class="content-header">
    <sn-breadcrumb datalist="crumbIconData"></sn-breadcrumb>
</section>
<!--内容部分 content-->
<section id="instanceDetail" class="content">
    <!--<h4 class="text-primary"><strong>实例列表</strong></h4>-->
    <!--<div class="box box-primary">-->
    <sn-tabs class="no-btn">
        <sn-tab-panel t="主信息" clickpanel="clickPanel(0)">
            <div class="box">
                <div class="box-body">
                    <table style="width:100%">
                        <tr>
                            <th colspan="4">基本信息</th>
                        </tr>
                        <tr>
                            <td style="width:15%">系统名称</td>
                            <td style="width:35%">{{view.systemName}}</td>
                            <td style="width:15%">实例集群编号</td>
                            <td style="width:35%">{{view.clusterSN}}</td>
                        </tr>
                        <tr>
                            <td>实例编号</td>
                            <td>{{view.instanceSN}}</td>
                            <td>实例名称</td>
                            <td>{{view.instanceName}}</td>
                        </tr>
                        <tr>
                            <td>实例类型</td>
                            <td>{{view.haRole}}</td>
                            <td>所属中心</td>
                            <td>{{view.center}}</td>
                        </tr>
                        <tr>
                            <td>环境名称</td>
                            <td>{{view.envName}}</td>
                            <td>位置</td>
                            <td>{{view.zone}}</td>
                        </tr>
                        <tr>
                            <td>负责人</td>
                            <td>{{view.proposer+view.proposerCode}}</td>
                            <td>实例创建日期</td>
                            <td>{{view.createTime}}</td>
                        </tr>
                    </table>
                    <table style="width:100%">
                        <tr>
                            <th colspan="4">服务器信息</th>
                        </tr>
                        <tr>
                            <td style="width:15%">服务器名称</td>
                            <td style="width:35%">{{view.vmName}}</td>
                            <td style="width:15%">端口</td>
                            <td style="width:35%">{{view.port}}</td>
                        </tr>
                        <tr>
                            <td>虚拟机地址</td>
                            <td>{{view.vmIP}}</td>
                            <td>物理机地址</td>
                            <td>{{view.hostIP}}</td>
                        </tr>
                        <tr>
                            <td>读写VIP地址</td>
                            <td>{{view.wvip}}</td>
                            <td>只读VIP地址</td>
                            <td>{{view.rvip}}</td>
                        </tr>
                    </table>
                    <table style="width:100%">
                        <tr>
                            <th colspan="4">运行状态</th>
                        </tr>
                        <tr>
                            <td style="width:15%">运行状态</td>
                            <td style="width:35%">{{view.status}}</td>
                            <td style="width:15%">已用空间</td>
                            <td style="width:35%">{{view.usedDataDiskSize}}</td>
                        </tr>
                    </table>
                    <table style="width:100%">
                        <tr>
                            <th colspan="4">配置信息</th>
                        </tr>
                        <tr>
                            <td style="width:15%">CPU</td>
                            <td style="width:35%">{{view.cpuCores}}</td>
                            <td style="width:15%">内存</td>
                            <td style="width:35%">{{view.memory}}</td>
                        </tr>
                        <tr>
                            <td>系统盘</td>
                            <td>{{view.osDiskSize}}</td>
                            <td>数据盘 / 存储</td>
                            <td>{{view.dataDiskSize}}</td>
                        </tr>
                        <tr>
                            <td>操作系统</td>
                            <td>{{view.os}}</td>
                            <td>数据库版本</td>
                            <td>{{view.dbEngine}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </sn-tab-panel>
        <sn-tab-panel t="从1信息" clickpanel="clickPanel(1)">
            <div class="box">
                <div class="box-body">
                    <table style="width:100%">
                        <tr>
                            <th colspan="4">基本信息</th>
                        </tr>
                        <tr>
                            <td style="width:15%">系统名称</td>
                            <td style="width:35%">{{view.systemName}}</td>
                            <td style="width:15%">实例集群编号</td>
                            <td style="width:35%">{{view.clusterSN}}</td>
                        </tr>
                        <tr>
                            <td>实例编号</td>
                            <td>{{view.instanceSN}}</td>
                            <td>实例名称</td>
                            <td>{{view.instanceName}}</td>
                        </tr>
                        <tr>
                            <td>实例类型</td>
                            <td>{{view.haRole}}</td>
                            <td>所属中心</td>
                            <td>{{view.center}}</td>
                        </tr>
                        <tr>
                            <td>环境名称</td>
                            <td>{{view.envName}}</td>
                            <td>位置</td>
                            <td>{{view.zone}}</td>
                        </tr>
                        <tr>
                            <td>负责人</td>
                            <td>{{view.proposer+view.proposerCode}}</td>
                            <td>实例创建日期</td>
                            <td>{{view.createTime}}</td>
                        </tr>
                    </table>
                    <table style="width:100%">
                        <tr>
                            <th colspan="4">服务器信息</th>
                        </tr>
                        <tr>
                            <td style="width:15%">服务器名称</td>
                            <td style="width:35%">{{view.vmName}}</td>
                            <td style="width:15%">端口</td>
                            <td style="width:35%">{{view.port}}</td>
                        </tr>
                        <tr>
                            <td>虚拟机地址</td>
                            <td>{{view.vmIP}}</td>
                            <td>物理机地址</td>
                            <td>{{view.hostIP}}</td>
                        </tr>
                        <tr>
                            <td>读写VIP地址</td>
                            <td>{{view.wvip}}</td>
                            <td>只读VIP地址</td>
                            <td>{{view.rvip}}</td>
                        </tr>
                    </table>
                    <table style="width:100%">
                        <tr>
                            <th colspan="4">运行状态</th>
                        </tr>
                        <tr>
                            <td style="width:15%">运行状态</td>
                            <td style="width:35%">{{view.status}}</td>
                            <td style="width:15%">已用空间</td>
                            <td style="width:35%">{{view.usedDataDiskSize}}</td>
                        </tr>
                    </table>
                    <table style="width:100%">
                        <tr>
                            <th colspan="4">配置信息</th>
                        </tr>
                        <tr>
                            <td style="width:15%">CPU</td>
                            <td style="width:35%">{{view.cpuCores}}</td>
                            <td style="width:15%">内存</td>
                            <td style="width:35%">{{view.memory}}</td>
                        </tr>
                        <tr>
                            <td>系统盘</td>
                            <td>{{view.osDiskSize}}</td>
                            <td>数据盘 / 存储</td>
                            <td>{{view.dataDiskSize}}</td>
                        </tr>
                        <tr>
                            <td>操作系统</td>
                            <td>{{view.os}}</td>
                            <td>数据库版本</td>
                            <td>{{view.dbEngine}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </sn-tab-panel>
        <sn-tab-panel t="从2信息" clickpanel="clickPanel(2)">
            <div class="box">
                <div class="box-body">
                    <table style="width:100%">
                        <tr>
                            <th colspan="4">基本信息</th>
                        </tr>
                        <tr>
                            <td style="width:15%">系统名称</td>
                            <td style="width:35%">{{view.systemName}}</td>
                            <td style="width:15%">实例集群编号</td>
                            <td style="width:35%">{{view.clusterSN}}</td>
                        </tr>
                        <tr>
                            <td>实例编号</td>
                            <td>{{view.instanceSN}}</td>
                            <td>实例名称</td>
                            <td>{{view.instanceName}}</td>
                        </tr>
                        <tr>
                            <td>实例类型</td>
                            <td>{{view.haRole}}</td>
                            <td>所属中心</td>
                            <td>{{view.center}}</td>
                        </tr>
                        <tr>
                            <td>环境名称</td>
                            <td>{{view.envName}}</td>
                            <td>位置</td>
                            <td>{{view.zone}}</td>
                        </tr>
                        <tr>
                            <td>负责人</td>
                            <td>{{view.proposer+view.proposerCode}}</td>
                            <td>实例创建日期</td>
                            <td>{{view.createTime}}</td>
                        </tr>
                    </table>
                    <table style="width:100%">
                        <tr>
                            <th colspan="4">服务器信息</th>
                        </tr>
                        <tr>
                            <td style="width:15%">服务器名称</td>
                            <td style="width:35%">{{view.vmName}}</td>
                            <td style="width:15%">端口</td>
                            <td style="width:35%">{{view.port}}</td>
                        </tr>
                        <tr>
                            <td>虚拟机地址</td>
                            <td>{{view.vmIP}}</td>
                            <td>物理机地址</td>
                            <td>{{view.hostIP}}</td>
                        </tr>
                        <tr>
                            <td>读写VIP地址</td>
                            <td>{{view.wvip}}</td>
                            <td>只读VIP地址</td>
                            <td>{{view.rvip}}</td>
                        </tr>
                    </table>
                    <table style="width:100%">
                        <tr>
                            <th colspan="4">运行状态</th>
                        </tr>
                        <tr>
                            <td style="width:15%">运行状态</td>
                            <td style="width:35%">{{view.status}}</td>
                            <td style="width:15%">已用空间</td>
                            <td style="width:35%">{{view.usedDataDiskSize}}</td>
                        </tr>
                    </table>
                    <table style="width:100%">
                        <tr>
                            <th colspan="4">配置信息</th>
                        </tr>
                        <tr>
                            <td style="width:15%">CPU</td>
                            <td style="width:35%">{{view.cpuCores}}</td>
                            <td style="width:15%">内存</td>
                            <td style="width:35%">{{view.memory}}</td>
                        </tr>
                        <tr>
                            <td>系统盘</td>
                            <td>{{view.osDiskSize}}</td>
                            <td>数据盘 / 存储</td>
                            <td>{{view.dataDiskSize}}</td>
                        </tr>
                        <tr>
                            <td>操作系统</td>
                            <td>{{view.os}}</td>
                            <td>数据库版本</td>
                            <td>{{view.dbEngine}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </sn-tab-panel>
    </sn-tabs>
    <!--下部分表格区-->

    <!--</div>-->
</section>