<form class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputName2" placeholder="请输入IP">
    </div>
    <button type="submit" class="btn btn-default">搜索</button>
    <strong>错误信息：未搜索到该IP，请核实后重新输入！</strong>
    <table class='table-border-mine'>
        <tr>
            <th>系统名称</th>
            <th>所在环境</th>
            <th>管理员</th>
            <th>主IP</th>
            <th>从IP</th>
            <th>从IP</th>
        </tr>
        <tr ng-repeat="exData in systemExDatas" ng-class="{info:$even}">
            <td>{{exData.type}}</td>
            <td>{{exData.systemName || '无'}}</td>
            <td>{{exData.envName}}</td>
            <td>{{exData.proposer+exData.proposerCode}}</td>
            <td>{{exData.requestTime}}</td>
            <td>{{exData.orderStatus}}</td>
        </tr>
    </table>
</form>